$colorPrimario: #DC2F02;
$colorSecundario: #FFBA08;
$colorDark: #000000;
$colorLight: #ffffff;
$colorNeutral: #757575;

$fuentePrincipal: 'Poppins', sans-serif;
$fuenteTitulos: 'Playfair Display', serif;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;