@use "../utilities/variables" as v;


header {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar {
    background-color: v.$colorLight !important;
}

.navbar-nav .nav-link:hover {
    color: v.$colorSecundario;
}

.banner-title {
    margin: 0;
    font-size: 1.2rem;
}

.banner {
    background: v.$colorPrimario;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    align-items: center;
    display: flex;
}

.banner-track {
    display: flex;
    width: max-content;
    animation: scrollLoop 20s linear infinite;
}



/* animación real */
@keyframes scrollLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80%);
    }
}